.crossover__image{
    width: 150px;
    height: 41px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 15px 12px 15px;
    background-color: #FFFFFF;
}
.nav_div_one{
    /* margin-right: 22rem; */
    margin-bottom: 11px;
}
.nav__links{
    color: #1e1e1e;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 24px 16px;
}
.nav__links_two{
    font-size: 14px;
    color: #1e1e1e;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
}
.nav_div_two{
    margin-bottom: 12px;
    padding-right: 21px;
    margin-top: -12px;
}
.search__icon{
    width: 16px;
    height: 17px;
}
header{
    background-image: url('https://assets-us-01.kc-usercontent.com/7beb5311-75a4-0049-50f5-8f58fd55aba7/e104f149-8f4c-4421-a90f-32300a48f41b/CX-website-yourfuturestreamlined.jpg?fm=jpg&auto=format&');
    background-position-x: center;
    padding: 120px 70px;
}
.elite__heading{
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 7px;
}
body{
    font-family:Manrope,sans-serif;
    background-color: antiquewhite;
}
.future__heading{
    font-size: 100px;
    color: #FFFFFF;
    line-height: .95;
    font-weight: 600;
    letter-spacing: 4px;
}
*{
    margin: 0%;
    padding: 0%;
}
.streamlined__heading{
    color: #3BC4B2;
    font-size: 100px;
    margin-left: 5rem;
    letter-spacing: 4px;
    font-weight: 600;
}
.header__paragraph{
    font-size: 18px;
    color: #FFFFFF;
    width: 25%;
    margin-left: 5rem;
    font-weight: 600;
    line-height: 30px;
}
.header__role-link{
    color: #3BC4B2;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    display: block;
    margin-left: 80px;
    font-weight: 600;
    text-decoration: none;
}
.arrow{
    margin-left: 1rem;
    margin-top: 20px;
}
.arrow:hover{
    margin-left: 2rem;
    cursor: pointer;
}
.header__icon-div{
    display: flex;
}
.future-two{
    display: flex;
    justify-content: space-between;
}
.future{
    background-color: #FFFFFF;
    padding: 70px 0;
}
.futureworking__heading{
    font-size: 75px;
    font-weight: 600;
    width: 124%;
    color: black;
    padding: 0 15px;
    margin-bottom: -28px;
}
.futureworking__headingtwo{
    font-size: 75px;
    font-weight: 600;
    width: 136%;
    color: black;
    text-indent: 100px;
}
.futureworking__paragraph{
    color:  #9398a1;
    font-size: 18px;
    width: 65%;
    line-height: 1.7;
    margin-top: 57px;
    margin-left: 21rem;
}
.future_lastdiv{
    display: flex;
    justify-content: end;
}
.boy__image{
    background-image: url('https://img.youtube.com/vi_webp/e9sDIq3PMWg/maxresdefault.webp');
    background-repeat: repeat-x;
}
.icon__image{
    margin: 20rem 37rem;
    width: 90px;
    height: 90px;
}
.numbers{
    padding: 60px 15px;
}
.rockstar__div{
    display: flex;
    justify-content: space-between;
    
}
.numbers__heading{
    font-size: 75px;
    line-height: 1;
    letter-spacing: -1px;
}
.numbers__heading-two{
    font-size: 75px;
    line-height: 1;
    letter-spacing: -1px;
    margin-left: 6rem;
}
.vision__link{
    color: #3bc4b2;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: 600;
    align-items:flex-end;
    text-decoration: none;
}
.arrow__image{
    width: 20px;
    height: 22px;
    margin-left: 10px;
    margin-right: 21px;
}
.rockstars-recruited{
    background-color: #69737c;
    min-height: 170px;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 277px;
    /* margin-left: 203px;
    margin-right: 23px; */
}
.rockstar__headingone{
    width: 100%;
    font-size: 55px;
    padding-top: 28px;
}
.usd__heading{
    width: 100%;
    font-size: 24px;
    padding-top: 28px;
}
.rockstar__headingtwo{
    font-size: 16px;
}
.weekly-payments-div{
    display: flex;
    justify-content: space-around;
}
.usd{
    min-height: 170px;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 277px;
    background-color: #3BC4B2; 
}
.countries{
    min-height: 170px;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 277px;
    background-color: black;
}
.pic-with-kids{
    display: flex;
}
.our_clients{
    padding: 70px 15px;
    background-color: #69737c;
}
.our_clients-div_one{
    display: flex;
    justify-content:space-between ;
}
.our_clients_heading{
    font-size: 75px;
    text-indent: -100px;
    padding-left: 100px;
    line-height: 1;
    letter-spacing: -1px;
    color: #FFFFFF;
}
.our_clients_heading_two{
    font-size: 75px;
    padding-left: 100px;
    line-height: 1;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-bottom: 7%;
}
.our_clients_paragraph{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.7;
    width: 68%;
}
.our_clients-div_two{
    display: flex;
}
.trilogy_image{
    width: 130px;
    height: 26px;
}
.gt_image{
    width: 130px;
    height: 65px;
}
.our_clients-div_three{
    margin: 13px;
    padding: 85px;
    text-align: center;
    border: 1px solid #e8eaeb;
    background-color: #fff;
}




















@media (max-width:767px){
    nav{
        display: none;
        padding: 0 20px;
    }
    .future__heading{
        font-size: 40px;
    }
    .future{
        display: flex;
        flex-direction: column;
    }
    .boy__image{
    min-height: 450px;
    background-position: center;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
.icon__image{
    margin: 36rem 10rem;
    width: 90px;
    height: 90px;
}
.elite__heading{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.our_clients-div_one{
    display: flex;
    flex-direction: column;
}
.our_clients_paragraph{
    font-size: 35px;
    width: 88%;
    font-weight: 600;
    padding: 0 15px;
}
.our_clients{
    width: 205%;
}



    
}